.about {
  display: flex;
  flex-direction: column;
  gap: 32px;
  color: white;
}

.description {
  width: 100%;
  max-width: 690px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.linkToProj {
  color: #d58383;
  text-decoration: none;
}

.table {
  height: 100%;
  padding: 28px 28px 28px 28px;
  border: 1px solid white;
}

.rows {
  margin: 20px 0 20px;
}

.colName {
  font-weight: 600;
}

.column {
  display: grid;
  row-gap: 8px;
}

.addInfo {
  display: grid;
  row-gap: 6px;

  opacity: 0.6;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  gap: 5%;
}

@media screen and (orientation: landscape){
  .rows {
    display: grid;
    grid-template-columns: 15% auto;
    column-gap: 10%;
  }
}

@media screen and (orientation: portrait){
  .rows {
    display: grid;
    grid-template-rows: 15% auto;
    row-gap: 16px;
  }
}
