html {
  font-size: 1em;
  line-height: 1.4;

  background-color: rgba(0, 0, 0, 1);
  font-family: "Montserrat", sans-serif;
}

body {
  margin: 20px 40px 40px 40px;
}

.logo {
  display: grid;
}

.logo img {
  display: grid;
  justify-self: end;
}

.main {
  display: grid;
  grid-template-columns: 322px auto;
  column-gap: 31px;
}

hr {
  opacity: 0.6;
}
p {
  margin: 0;
}

